<% if current_user %>
<table>
  <h2>Latest Bookmarks</h2>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.title %></td>
        <td><%= bookmark.url %></td>
        <td><%= link_to 'Show', bookmark %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
        <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark', new_bookmark_path %>

<% else %>
  <div class="panel">
    <h1>Share your bookmarks!</h1>
    <p>A simple app to track and share your beloved bookmarks with others.</p>
    <%= link_to "Get started today", new_user_registration_path, :class => "button button-large" %>
  </div>
  <% end %>